.message {
	background-color: white;
	height: 100vh;
	width: 100vw;

    .message__group--done{
        height: 3vh;
        width: 100vw;
        background-color: #38aef0;
        text-align: center;
        color: white;
    }

    .message__group{
        background-color: white;
        width: calc(100vw - 300px);
        height: 20vh;
        display: inline-block;
    }
    .group--name{
        color: black;
        margin: 20px 20px;
        font-size: 20px;
    }
    .group--member{
        color: #999999;
        font-size: 12px;
        margin-left: 40px;
    }
    .message__edit{
        background-color: #ffffff;
        height: 40px;
        width: 80px;
        padding-left: 20px;
        padding-right: 20px;
        position: fixed;
        top: 40px;
        right: 50px;
    }
    .edit--box{
        color: #38aef0;
        font-size: 15px;
    }

	.message__user{
		background-color: #253141;
		width: 300px;
        height: 20vh;
        float: left;
        border:bottom #eeeeee;
    }
    .user--name{
        color: white;
        display: inline-block;
        margin: 20px 20px;
        font-weight: bold;
        font-size: 16px;
    }

    .fa-cog{
        color: white;
        display: inline-block;
        float: right;
        margin-right: 30px;
        margin-top: 20px;
    }
    .fa-edit{
        color: white;
        display: inline-block;
        float: right;
        margin-right: 5px;
        margin-top: 20px;
    }

    .message__group--chat{
        background-color: #2f3e51;
        height: 80vh;
        width: 300px;
        float: left;
    }

    .group--chat--name{
        color: white;
        margin: 20px 20px;
        font-size: 15px;
    }
    .group--text{
        color: #ffffff;
        margin-left: 20px;
        font-size: 11px;
    }

	.message__contents{
		background-color: #aaaaaa;
		width: calc(100vw - 300px);
		height: 65vh;
		float: right;
        font-size: 16px
	}
    .the__messages{
        color: black;
        padding: 20px 20px;
    }

	.message__type{
	    background-color: lightgray;
        float: right;
        width: calc(100vw - 300px);
        height: 15vh;
    }
    .type--text{
        display: inline-block;
        height: 50px;
        width: calc(100vw - 500px);
        background-color: white;
        margin-top: 30px;
        margin-left: 30px;
    }
    .fa-photo{
       position: fixed;
       right: 200px;
       bottom: 20px;
    }

    .message__send{
        display: inline-block;
        background-color: #38aef0;
        color: white;
        height: 50px;
        width: 100px;
        font-size: 15px;
    }
    .upload-label{
        display: none;
    }
    .datefile{
        display: none;
    }

}